{% extends 'base.html.twig' %}

{% block title %}Edit CompanyAdditionalInfo{% endblock %}

{% block body %}
    <h1>Edit CompanyAdditionalInfo</h1>

    {{ include('company_additional_info/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_company_additional_info_index') }}">back to list</a>

    {{ include('company_additional_info/_delete_form.html.twig') }}
{% endblock %}
