{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'form.company.create_new_company'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'view.company.new'|trans }}</h1>

    {{ include('admin/company/_form.html.twig') }}

{#    <a href="{{ path('company') }}">back to list</a>#}
{% endblock %}
