<form method="post" action="{{ path('admin_employee_schedule_delete', {'id': employeeSchedule.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employeeSchedule.id) }}">
    <button class="btn btn-outline-danger">{{ 'view.delete'|trans }}</button>
</form>
