{% extends 'base.html.twig' %}

{% block title %}New EmployeeSchedule{% endblock %}

{% block body %}
    <h1>Create new EmployeeSchedule</h1>

    {{ include('admin/employee_schedule/_partials/_form.html.twig') }}

    <a href="{{ path('admin_employee_schedule_list') }}">back to list</a>
{% endblock %}
